<main>
  <div class="container">
    <div class="row">
      <div class="container my-5 col card bg-transparent border-0">
        <%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3dvaUDqo7v9v6_-XTyZ7qzqEBwviTM2xH1TKRbenVOoNRlIHpXpGgpZKRR-Ca3XOi4sKpESOwdttywNEgwqrzRvRTpgbEKAd5DLjlWLI4jWfqhPUQRkRbcstE1FxxusR8lbfnpKE9udF0fhkjEdzH7s=w900-h646-no?authuser=0", class: "text-center w-100 rounded" %>
        <div class="card-img-overlay">
          <h1 class="card-title about-card text-center">About Us</h1>
        </div>
        <p>Who needs selfies when you can have <em>bread</em>...?</p>
      </div>
      <div class="col my-5 text-center">
        <h1 class="">We're the Cartmageddon Crew!</h1>
        <p>While it might seem like the end is nigh...</p>
        <p>We're here to keep you warm at night.</p>
      </div>
    </div>
  </div>
</main>