<main>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3chPTocwQ05tqlzkGH6M2f2LI3xyt6rujeU5p7SKw2WxjR6EjYvVgGREx2gv2Lz9NZ21yBsmiRSVxfRlC995HWHt-jyyOxY_N1fpcy2UmfP4ETUxJb2ryijQtMUhhwFtERdur1oGrK1sXFz8HSrRmFD=w1644-h1096-no?authuser=0", class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>The world is ending.</h5>
          <p>That's why we're here.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3dtgMRhIJ6tTDYgAhW3WEiBbC2b9_MptM1QRL43FSr9KZY7jn3CvCZB0Kyjcq4bAYRR7CNcN3gNOvOUibZTaGRdDty6gr9roEjxarp4ICQ_VN7HSjsh_-heOxPr3RTQJDCEYuvJo76CFULjda8C9Lqw=w1792-h1194-no?authuser=0", class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <p>Our mission is to bring you quality resources for surviving the end of this world and thriving in the beginning of the new world.</p>
          <%# <p>That's why we're here.</p> %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3dEKrfrpT2HDCgM9x6qWO3S-NsHMVYz4yCPvKTj3XV1J0aupBPSDp1MAU7P7iEsx1Upp-n4V707_XtWmPX6fygFDIyF1uIwEEDkjRVxkEH9EXL5dvElJOBj4OPKwooKhbJffWtNKK6zywCIrUUcBisJ=w1792-h1194-no?authuser=0", class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block mb-5">
          <%# <h5></h5> %>
          <p></p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container">
  </div>
  <div class="container">
  </div>
</main>