<main>
  <%# image_tag 'https://lh3.googleusercontent.com/pw/ACtC-3dfIlW4-Sf3JwXae6oI8ILN0xogZMEnl8_dhaigoeyiuQqusT5kA9C40FN12H4xki8YyLzkyD3HE6pAlatb5PyM3_RR7sUg86aEcfZrrWOH6nVi4h4mGHaxfBpsqzbaJI_pAMRAs4bMyc8P4RyPfF8a=w1823-h687-no?authuser=0', class: "w-100" %>
  <aside class="">

  </aside>
  <div class="">
    <p>OUR WEBSITE LOL</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%# image_tag @products[4].img_url , class: "d-block w-100
          " %>
          <%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3chPTocwQ05tqlzkGH6M2f2LI3xyt6rujeU5p7SKw2WxjR6EjYvVgGREx2gv2Lz9NZ21yBsmiRSVxfRlC995HWHt-jyyOxY_N1fpcy2UmfP4ETUxJb2ryijQtMUhhwFtERdur1oGrK1sXFz8HSrRmFD=w1644-h1096-no?authuser=0", class: "d-block w-100" %>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</main>