<main>
  <%= image_tag 'https://lh3.googleusercontent.com/pw/ACtC-3dfIlW4-Sf3JwXae6oI8ILN0xogZMEnl8_dhaigoeyiuQqusT5kA9C40FN12H4xki8YyLzkyD3HE6pAlatb5PyM3_RR7sUg86aEcfZrrWOH6nVi4h4mGHaxfBpsqzbaJI_pAMRAs4bMyc8P4RyPfF8a=w1823-h687-no?authuser=0', class: "w-100" %>
</main>