<main>
  <div class="card rounded-0 bg-dark text-white">
    <%= image_tag('https://lh3.googleusercontent.com/pw/ACtC-3ft6w20Uf0PYmnAMY0jJhcAknWyX1KuAtckkJB3gPH9dnsqii4Pd5vP9D9NLEQeUSxNsVC6EaUBdU0LO01oPvr-5kph3w7VfUg31VtK4QssQsJbJ_HXNhdq3pQ9H7dmrqgiD62vgy5MoaxQFO8MiVAA=w999-h666-no?authuser=0', class: "not-found w-100 card-img rounded-0") %>

    <div class="card-img-overlay align-content-around not-found">
      <h2 class="card-title text-center justify-content-around mt-2">A lot of things have changed or disappeared around here.</h2>
      <h4 class="card-title text-center justify-content-around mt-2">It looks like the page you were looking for has, too.</h4>
      <h4 class="card-title text-center justify-content-around mt-2">Don't fret, though: you can always find your way <%= link_to "home!", root_path, class: "text-light" %></h4>
    </div>
  </div>
</main>