<h2>This is the orders show page</h2>

<p>This view page was created because:</p>
<p> -the order_items show action had to be created per our Trello card</p>
<p> -an order show action had to be created to create the order_items show action</p>
<p> -a view for the orders show action had to be created to create the order_items show action</p>
