/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";

html {
  font-family: 'Staatliches', cursive;
}

body {
  background: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3dhRW2jlmyFwaRsE9n80Bp4qUPx_Gk2WHHGJtRi1_hvH9Y_hTKzwF4hgKC5mSggtlQA-Jfy5ZSTqe19j9fcH8gOjPqFlMuvrLbtUls4_yjZoYGi2u9AGFUgMLlnMXNt7-AV5qPj7zq4SsM4jDeqjSLo=w900-h1194-no?authuser=0");
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: rgb(23, 109, 43);
}

a:hover {
  color: #155c25;
  text-decoration: none;
}

img.navbar-brand {
  width: 20rem;
}

div.product-card {
  width: 20rem;
}