/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";

html {
  font-family: 'Staatliches', cursive;
}

body {
  background: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3dhSuUHun70PCy3SS099Mm3I0PMDf7AeQTPYXSHt8umdXm2BQCUlHFfYDlG9nHU1Pu7RGYlDCVD7TZdkOD7GtJUX6EZh4n6aMvC2awnyShE7iuMdnmqX3o6kTZdj_RupSDwJSBkZ023gG4AslxIn11W=w1792-h1194-no?authuser=0");
  background-size: cover;
  background-attachment: fixed;
}

img.navbar-brand {
  width: 20rem;
}

div.product-card {
  width: 20rem;
}