/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";

html, body {
  height: 100%;
  position: relative;
  font-family: 'Staatliches', cursive;
  background: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3dhRW2jlmyFwaRsE9n80Bp4qUPx_Gk2WHHGJtRi1_hvH9Y_hTKzwF4hgKC5mSggtlQA-Jfy5ZSTqe19j9fcH8gOjPqFlMuvrLbtUls4_yjZoYGi2u9AGFUgMLlnMXNt7-AV5qPj7zq4SsM4jDeqjSLo=w900-h1194-no?authuser=0");
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

nav p.subtle-text {
  color: rgb(154, 154, 154);
}

img.not-found {
  opacity: 0.5;
}

div.not-found {
  margin-top: 30vh;
  text-shadow: 1px 1px 2px black;
}

div.carousel {
  background-color: gray;
  text-shadow: 1px 1px 2px black;
}

div.carousel-item img {
  opacity: 0.60;
}

div.caption-1 {
  margin: 40vh auto;
  font-size: 2rem;
}

div.caption-2 {
  margin: 20vh auto;
  font-size: 3rem;
}

div.caption-3 {
  margin: 32vh auto;
  font-size: 2rem;
}

div.caption-5 {
  margin: 32vh auto;
}

div.caption-5 > * {
  margin: 1rem 0;
}

div.caption-6 {
  margin: 70vh auto;
  font-size: 2rem;
  color: white;
}


footer.footer {
  bottom: 0;
  width: 100%;
  // position: sticky;
}

a {
  color: rgb(23, 109, 43);
}

a:hover {
  color: #155c25;
  text-decoration: none;
}

img.navbar-brand {
  width: 15rem;
}

div.navbar-brand p {
  font-size: 0.75rem;
}

div.product-card {
  width: 20rem;
}

footer a {
  color: rgb(30, 159, 60);
}

footer a:hover {
  color: rgb(24, 130, 49);
}
footer p.subtle-text {
  color: rgb(154, 154, 154);
}

form.container {
  padding-left: 0;
  padding-right: 0;
}
.empty-cart {
  padding: 50px;
}
.empty-cart img{
  height: 300px;
}

#cart-icon {
  margin: 1rem 12rem 0 0;
}

.navbar-cart img{
  position: relative;
  width: 60px;
  height: 60px;
  left: 470px;
  top: 11px;
}

.numberCircle {
  position: relative;
  width: 30px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  background-color: green;
  color: white;
  border: 2px solid white;
  left: 510px;
  top: -65px;
}

.numberCircle p{
  position: relative;
  top: 7px;
}


h1.about-card {
  margin-top: 9rem;
}

.hp-block {
  padding: 2rem 4rem;
}

.hp-button {
  width: 10rem;
  padding: 0.8rem;
  font-size: 1.2rem;
}

p.shop-now {
  font-size: 1.3rem;
  color: rgb(224, 221, 221);
}

.cart-table img {
  width: 200px;
  height: 133px;
}

.learn-img {
  border: none;
}

.learn-card {
  border: none;
}
