// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.merchant-card {
  width: 40vw;
  border: none;
}

.btn-merchant > * {
  padding: 0.8rem;
  margin: 1rem;
  width: 15vw;
}

.btn-dashboard {
  width: 20vw;
}

.btn-table {
  width: 7rem;
}

.bg-cancel {
  background-color: rgba(119, 9, 9, 0.8);
  border-color: rgba(119, 9, 9, 0.8);
}