<main>
  <section class="reviews">
    <div class="average-rating">
      <h4>Ratings Summary</h4>
      <h5><%= @average_rating %> out of 5</h5>
    </div>
    <div class="flex-column rating list-group">
      <% if !reviews.nil? && reviews.length > 0 %>
        <ul class="list-group flex-column align-items-start">
        <% reviews.each do |r| %>



        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= r.rating %></h5>
          <small class="text-muted">Reviewed on: <%= time_tag r.updated_at, r.updated_at.strftime("%B %d, %Y") %></small>
        </div>
        <article class="d-flex">
          <li class="list-group-item"><%# r.rating %></li>
          <p><%# r.text %></p>
          <div class="nickname float-right">
            <p><%# r.reviewer %></p>
          </div>
        </article>
        <% end %>
        </ul>
      <% end %>
    </div>
  </section>
</main>