<main>
  <section class="reviews-table">
    <h4>Ratings Summary</h4>
    <h3><%= %></h3>
    <table class="table">
      <tr>
        <th>Nickname</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
      <% if !reviews.nil? && reviews.length > 0 %>
        <% reviews.each do |r| %>
          <tr>
            <td><%= r.rating %></td>
            <td><%= r.reviewer %></td>
            <td><%= r.rating %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </section>
</main>